/.gitattributes export-ignore
/.gitignore export-ignore
/.scrutinizer.yml
/.travis.yml
/c3.php export-ignore
/codeception.yml export-ignore
/config/autoload/db.travis.php export-ignore
/phpmd.xml.dist export-ignore
/tests export-ignore
